@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Montserrat', sans-serif;
	box-sizing:border-box;
	color:white;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}

:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

.background {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.background span {
  width: 5vmin;
  height: 5vmin;
  border-radius: 5vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #583c87;
  top: 20%;
  left: 37%;
  animation-duration: 15.4s;
  animation-delay: -10.4s;
  transform-origin: -5vw -14vh;
  box-shadow: -40vmin 0 13.0603187295vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffacac;
  top: 46%;
  left: 57%;
  animation-duration: 10.7s;
  animation-delay: -13.9s;
  transform-origin: 0vw -24vh;
  box-shadow: 40vmin 0 8.4296882751vmin currentColor;
}
.background span:nth-child(3) {
  color: #583c87;
  top: 54%;
  left: 40%;
  animation-duration: 15.6s;
  animation-delay: -11s;
  transform-origin: -7vw 18vh;
  box-shadow: 40vmin 0 10.4392145714vmin currentColor;
}
.background span:nth-child(4) {
  color: #e45a84;
  top: 63%;
  left: 35%;
  animation-duration: 11s;
  animation-delay: -14.8s;
  transform-origin: -24vw -1vh;
  box-shadow: -40vmin 0 12.34143244vmin currentColor;
}
.background span:nth-child(5) {
  color: #583c87;
  top: 40%;
  left: 48%;
  animation-duration: 11.4s;
  animation-delay: -3.2s;
  transform-origin: 16vw 21vh;
  box-shadow: -40vmin 0 13.7668953112vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffacac;
  top: 56%;
  left: 50%;
  animation-duration: 11.3s;
  animation-delay: -3.2s;
  transform-origin: 1vw -11vh;
  box-shadow: 40vmin 0 6.9648712521vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 43%;
  left: 48%;
  animation-duration: 11.5s;
  animation-delay: -8.6s;
  transform-origin: 20vw 18vh;
  box-shadow: 40vmin 0 14.7106178857vmin currentColor;
}
.background span:nth-child(8) {
  color: #583c87;
  top: 55%;
  left: 54%;
  animation-duration: 14s;
  animation-delay: -13.4s;
  transform-origin: 16vw 5vh;
  box-shadow: 40vmin 0 8.3328317947vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 44%;
  left: 21%;
  animation-duration: 14.2s;
  animation-delay: -9.4s;
  transform-origin: 10vw -21vh;
  box-shadow: 40vmin 0 7.1959255975vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffacac;
  top: 49%;
  left: 2%;
  animation-duration: 11.1s;
  animation-delay: -9.6s;
  transform-origin: 14vw 10vh;
  box-shadow: -40vmin 0 7.1452258882vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffacac;
  top: 44%;
  left: 37%;
  animation-duration: 12.1s;
  animation-delay: -3.6s;
  transform-origin: -20vw 5vh;
  box-shadow: -40vmin 0 8.4575328284vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 54%;
  left: 36%;
  animation-duration: 12.1s;
  animation-delay: -11.2s;
  transform-origin: 2vw 23vh;
  box-shadow: 40vmin 0 9.1643402267vmin currentColor;
}
.background span:nth-child(13) {
  color: #e45a84;
  top: 36%;
  left: 23%;
  animation-duration: 15.2s;
  animation-delay: -10.1s;
  transform-origin: -16vw -18vh;
  box-shadow: -40vmin 0 14.2416912907vmin currentColor;
}
.background span:nth-child(14) {
  color: #583c87;
  top: 31%;
  left: 52%;
  animation-duration: 13.2s;
  animation-delay: -4.1s;
  transform-origin: 15vw -19vh;
  box-shadow: 40vmin 0 5.6391052749vmin currentColor;
}
.background span:nth-child(15) {
  color: #583c87;
  top: 59%;
  left: 55%;
  animation-duration: 10.9s;
  animation-delay: -3.2s;
  transform-origin: 25vw 1vh;
  box-shadow: 40vmin 0 9.3698432343vmin currentColor;
}
.background span:nth-child(16) {
  color: #583c87;
  top: 4%;
  left: 47%;
  animation-duration: 13.2s;
  animation-delay: -10.1s;
  transform-origin: -3vw 17vh;
  box-shadow: 40vmin 0 14.2831121401vmin currentColor;
}
.background span:nth-child(17) {
  color: #583c87;
  top: 54%;
  left: 49%;
  animation-duration: 14.5s;
  animation-delay: -10.7s;
  transform-origin: 13vw -16vh;
  box-shadow: -40vmin 0 5.2266700078vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffacac;
  top: 32%;
  left: 55%;
  animation-duration: 10.4s;
  animation-delay: -12.3s;
  transform-origin: -2vw -23vh;
  box-shadow: -40vmin 0 6.522061312vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffacac;
  top: 41%;
  left: 41%;
  animation-duration: 15.2s;
  animation-delay: -12.3s;
  transform-origin: -20vw -7vh;
  box-shadow: 40vmin 0 8.8390748393vmin currentColor;
}
.background span:nth-child(20) {
  color: #ffacac;
  top: 40%;
  left: 25%;
  animation-duration: 13.7s;
  animation-delay: -6.5s;
  transform-origin: 23vw -11vh;
  box-shadow: -40vmin 0 8.1553741648vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.data-white-bg{
	background-image:url(../img/banner-bg.jpg);
	background-position:center;
	background-size:cover;
	width:100%;
	height:calc(100vh - 61px);
	overflow:hidden;}
.data-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(7 40 62 / 72%);
    padding: 40px 100px;
    height: 80vh;
    margin-top: 10vh;
	overflow-y: scroll;
	border-radius: 10px;
}
.transparent-table {
    border: 0;
    background: transparent;
    border-collapse: collapse;
    text-align: left;
}
.transparent-table td{
	padding:8px;}
.data-top-left-border {
    position: absolute;
    width: 12%;
    height: 18vh;
    border-left: 2px solid white;
    border-top: 2px solid white;
    margin-left: 10%;
    margin-top: 5vh;
	border-radius: 10px;
}
.data-bottom-right-border {
    width: 12%;
    height: 18vh;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    right: 10%;
    bottom: 5vh;
	border-radius: 10px;
}
.data-h1 {
    color: #ffffff;
    border-top: 1px solid #ececec;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #ececec;
    font-weight: 300 !important;
	letter-spacing: 1.5px;
}
.data-p {
    margin-top: 40px;
    color: #eaeaea;
    font-size: 17px;
    line-height: 27px;
	margin-bottom:40px;
}
.data-p2 {

    color: #eaeaea;
    font-size: 17px;
    line-height: 27px;

}
.data-ul {
    padding-left: 2%;}
.data-li{
    color: #eaeaea;
    font-size: 17px;
    line-height: 27px;
	margin-bottom: 5px;
	text-align:left;
	}
.roman-ol{
	list-style:lower-roman;}
.latin-ol{
	list-style:lower-latin;}
.data-span {
    font-size: 14px;}
.no-border{
	border:0 !important;}
.data-title {
    font-size: 21px;
    margin-bottom: 0;
    padding-bottom: 0;
	font-weight:bold;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #f1f1f1;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
	border-radius: 25px;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #b3b3b3;
}



a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.hover1b{
	display:none !important;}
.hover1:hover .hover1a{
	display:none !important;
	transition:.15s ease-in-out;}
.hover1:hover .hover1b{
	display:inline-block !important;
	transition:.15s ease-in-out;}

.white-text{
	color:white;}
.blue-text{
  background: -webkit-linear-gradient(#09C6F9, #045DE9
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #a2d9f2 inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.transparent-button{
	background-color:transparent;
	border:0;}
option{
	color:black;
}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;
	width: 10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:#157bc0;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dl-menuwrapper{
	display:none;}
		
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: white;
  margin: auto;
  padding: 20px;
  margin-top:10vh;	
  width: 80%;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* The Close Button */
.close-css {
  color: #157bc0;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #0f67a2;
  text-decoration: none;
  cursor: pointer;
}	
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}	
/*Start */
.menu-color {
    background-color: black;
	padding-top: 5px;
    padding-bottom: 5px;
}
.logo-img {
    width: 45px;
}
.menu-margin-right{
	margin-right: 20px;	
}
.menu-item{
	color:white;
	transition:.15s ease-in-out;}
.menu-item:hover{
	color:#2dabe2;
	cursor:pointer;
	transition:.15s ease-in-out;}
.right-menu-div {
    margin-top: 6px;
}
.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 3px;
    background: #2dabe2;
    top: 7px;
    left: 16%;
    box-shadow: 0 10px 0 #2dabe2, 0 20px 0 #2dabe2;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
    background-color: #000000;
	margin-top: 0;
	min-height: 100vh;}
.footer-p {
    margin: 0;
}
.footer-div {
    background-color: black;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.min-height {
    min-height: calc(100vh - 61px);
    padding-bottom: 30px;
    overflow: hidden;
}
.black-bg {
    background-color: black;
}
.menu-distance{
	padding-top:42px;	
}
.banner-div{
	background-image:url(../img/banner-bg.jpg);
	background-position:right;
	background-size:cover;
	    padding-top: 50px;
    padding-bottom: 50px;
}
.white-banner-title {
    font-size: 61px;
	margin-top: 70px;
}
.left-banner-content {
    width: 75%;
}
.right-coin-content{
	width:25%;
	padding-left: 30px;	
}
.coin-png{
	width:100%;}
.fake-blue-button {
 background: rgba(9,197,249,1);
background: -moz-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(9,197,249,1)), color-stop(100%, rgba(4,92,233,1)));
background: -webkit-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: -o-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: linear-gradient(135deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09c5f9', endColorstr='#045ce9', GradientType=1 );
    width: 320px;
    text-align: center;
    padding: 15px 0;
    font-size: 21px;
    border-radius: 30px;
}
.bottom-div{
	padding-top: 5px;
	float:left;
	text-align:center;
	width:20%;
	transition:.15s ease-in-out;}
.bottom-div:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
background: rgba(3,189,240,1);
background: -moz-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(3,189,240,1)), color-stop(100%, rgba(0,88,219,1)));
background: -webkit-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: -o-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: linear-gradient(135deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03bdf0', endColorstr='#0058db', GradientType=1 );}
.bottom-div img {
    width: 30px;
}
.bottom-button {
    position: fixed;
    bottom: 0;
	
}
.bottom-button-spacing{
	min-height: 39px;
    width: 100%;
    overflow: hidden;
    background-color: black;	
}
.blue-text{
	color:#157bc0;
}
.section-padding {
    padding-top: 50px;
}
.title-border{
	height: 5px;
    background: rgba(9,197,249,1);
    background: -moz-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(9,197,249,1)), color-stop(100%, rgba(4,92,233,1)));
    background: -webkit-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
    background: linear-gradient(135deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09c5f9', endColorstr='#045ce9', GradientType=1 );
	width:70px;
	margin:0 auto;
}
.rank-profile {
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
	margin: 0 auto;
}
.bronze-div {
    background: linear-gradient(to right, #431207, #803510, #6b1b0c, #d77e4c, #6b1b0c);
}
.silver-div {
    background: linear-gradient(to right, #cbd1d6, #aab1b5, #aab1b5, #f4fbfe, #979da1);
}
.gold-div{
	background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}
.profile-pic {
    width: 100%;
	border-radius: 50%;
	padding:5px;
	padding-bottom:0 !important;
}
.rank-div {
    width: 33.3%;
    float: left;
	text-align: center;
}
.crown {
    width: 20px;
}
.gold-text{
	color:#c6a000}
.month-text{
	font-weight: 300;}
.rank-name {
    font-weight: 800;
    font-size: 21px;
    margin-bottom: 0;
}
.rank-credit {
    margin-top: 0;
}
.lower-rank {
    margin-top: 60px;
}
.table-css {
    width: 100%;
	border-collapse:collapse;
	text-align: left;
}
th, td{
	vertical-align:top;}
.table-css th, .table-css td{
	padding:3px 2px;}
.table-css th {
    background-color: #157bc0;
}
.table-css tr:nth-child(odd) td{
    background-color: #a2d9f2;
}
.table-css tr:nth-child(even) td{
    background-color: #77c3ed;
}
.table-css td{
	color:black;}
.table-scroll {
    max-width: 100%;
    overflow-x: auto;
}
.title-icon {
    width: 75px;
}
.three-div {
    width: 32%;
    float: left;
    text-align: center;
}
.mid-three-div {
    margin-left: 2%;
    margin-right: 2%;
}
.step-png {
    width: 35%;
}
.content-title {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 18px;
}
.content-text {
    font-size: 15px;
    margin-top: 0;
}
.margin-top30{
	margin-top:30px;}
.margin-bottom30{
	margin-bottom:30px;}
.blue-button {
background: rgba(9,197,249,1);
background: -moz-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(9,197,249,1)), color-stop(100%, rgba(4,92,233,1)));
background: -webkit-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: -o-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
background: linear-gradient(135deg, rgba(9,197,249,1) 0%, rgba(4,92,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09c5f9', endColorstr='#045ce9', GradientType=1 );
    font-size: 18px;
    padding: 5px 0;
    width: 200px;
	color:white;
    margin: 0 auto;
    border-radius: 20px;
	transition:.15s ease-in-out;
	border:0;
}
.blue-button:hover{
background: rgba(3,189,240,1);
background: -moz-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(3,189,240,1)), color-stop(100%, rgba(0,88,219,1)));
background: -webkit-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: -o-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
background: linear-gradient(135deg, rgba(3,189,240,1) 0%, rgba(0,88,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03bdf0', endColorstr='#0058db', GradientType=1 );
	cursor:pointer;
	transition:ease-in-out;	
}
.black-text{
	color:black;}
.box-icon{
	width:120px !important;}
.mail-png {
    width: 15px;
    margin-right: 2px;
}
.phone-icon{
	width: 35px !important;
}
.mobile-shipping{
	display:none;}
.shipping-icon {
    height: 50px;
    margin-right: 20px;
}
.last-shipping-icon{
	margin-right:0 !important;}
.payment-method {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.opacity-hover{
	transition:.15s ease-in-out;}
.opacity-hover:hover{
	transition:.15s ease-in-out;
	cursor:pointer;
	opacity:0.85;
}
.contact-modal-content {
    width: 50%;
}
.input-name {
    width: 100%;
	border:0;
	background-color:#a2d9f2;
	margin-bottom:20px;
	color:black;
	    padding: 5px;
    font-size: 17px;
}
.input-message {
    min-height: 120px;
}
.opt-msg {
    margin-top: 0;
    text-align: left;
}
.input-top-p {
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}
.visible-icon {
    width: 30px;
    float: left;
	margin-top: 5px;
}
.password-input {
    width: calc(100% - 35px);
    float: left;
    background-color: transparent;
    margin-bottom: 0;
}
.fake-pass-input-div {
    background-color: #a2d9f2;
    overflow: hidden;
    width: 100%;
	margin-bottom:20px;
}
.blue-link {
    color: #157bc0;
	transition:.15s ease-in-out;
	
}
.blue-link:hover {
    color: #0f67a2;
	transition:.15s ease-in-out;
	cursor:pointer;
	
}
.dual-input {
    width: 48%;
    float: left;
}
.second-dual-input{
	margin-left:4%;}
.signup-modal-content{
	width:80%;}
.middle-width {
    width: 50%;
    margin: 0 auto;
}
.profile-pic2 {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.white-to-blue-link{
	color:white;
	transition:.15s ease-in-out;}
.white-to-blue-link:hover{
	color:#157bc0;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-png {
    width: 15px;
}
.bidding-repeat-div {
    width: 32%;
    float: left;
    text-align: center;
	margin-right: 1.3%;
	margin-bottom:50px;
}
.bidding-big-width {
    width: 102%;
	overflow:hidden;
}
.margin-top30 {
    margin-top: 30px;
}
.menu-h1, .menu-link-container {
    color: black;
    text-align: center;
}
.notice-modal-content {
    width: 50%;
	padding-bottom: 50px;
}
.menu-h1{
	    margin-top: 0;}
	
.update-profile-header .modal-title{
    font-weight:900;
    color: #157bc0;
	text-align:center;
}
.cr-boundary {
    width: 400px !important;
    height: 400px !important;
}
.cr-viewport {
    width: 300px !important;
    height: 300px !important;
}

.checkbox:checked ~ .background-color{
	background-color: var(--white);
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}



.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 260px;
	font-size: 52px;
	line-height: 52px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
    color: white;
}

.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
	position: relative;
	display: block;
	color: white;
font-size: 27px;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	color:white;
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-budget:checked + label span::before{
	max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
	background-color: var(--light);
	-webkit-text-stroke: 1px var(--dark-blue);
    text-stroke: 1px var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.p-title {
    margin-top: 0;
    font-weight: 800;
}
.sub-div{
background: rgba(11,237,249,1);
background: -moz-linear-gradient(-45deg, rgba(11,237,249,1) 0%, rgba(72,169,254,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(11,237,249,1)), color-stop(100%, rgba(72,169,254,1)));
background: -webkit-linear-gradient(-45deg, rgba(11,237,249,1) 0%, rgba(72,169,254,1) 100%);
background: -o-linear-gradient(-45deg, rgba(11,237,249,1) 0%, rgba(72,169,254,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(11,237,249,1) 0%, rgba(72,169,254,1) 100%);
background: linear-gradient(135deg, rgba(11,237,249,1) 0%, rgba(72,169,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bedf9', endColorstr='#48a9fe', GradientType=1 );
    border-radius: 5px;	
	padding-top: 20px;
	transition:.15s ease-in-out;
	padding-left: 10px;
    padding-right: 10px;
}
.sub-div:hover{
background: rgba(0,228,240,1);
background: -moz-linear-gradient(-45deg, rgba(0,228,240,1) 0%, rgba(41,155,255,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,228,240,1)), color-stop(100%, rgba(41,155,255,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,228,240,1) 0%, rgba(41,155,255,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,228,240,1) 0%, rgba(41,155,255,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,228,240,1) 0%, rgba(41,155,255,1) 100%);
background: linear-gradient(135deg, rgba(0,228,240,1) 0%, rgba(41,155,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e4f0', endColorstr='#299bff', GradientType=1 );	
	transition:.15s ease-in-out;
	cursor:pointer;
}
.middle-icon {
    width: 90px;
}
.package-title {
    margin-bottom: 0;
    font-weight: 800;
    font-size: 19px;
}
.credit-p {
    margin-top: 5px;
    font-size: 29px;
    font-weight: 200;
}
.ps-p {
    font-size: 16px;
    font-weight: 600;
}
.extra-div {
    overflow: hidden;
	margin-top: 20px;
}
.extra-p {
    font-size: 14px;
}
.five-div {
    padding: 10px;
	padding-top:20px;
	padding-bottom:5px;
    margin-bottom: 30px;
    float: left;
    width: 18%;
}
.second-five-div {
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.dash-img {
    width: 70px;
}
.darkbg-box {
    background-color: #011342;
	transition:.15s ease-in-out;
}
.darkbg-box:hover {
    background-color: #00195a;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.p-text {
    margin-bottom: 0;
}
.for-checkbox-budget {
    width: 31% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
	margin-bottom:10px !important;
}
.middle-checkbox {
    margin-left: 3% !important;
    margin-right: 3% !important;
}
.action-png {
    width: 20px;
}

.link-p {
    color: #157bc0;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000000bf; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#000;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{ background:#fff;}
        #cboxTitle{position:absolute; top:-20px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top left; width:28px; height:65px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:bottom left;}
        #cboxNext{position:absolute; top:50%; right:5px; margin-top:-32px; background:url(images/controls.png) no-repeat top right; width:28px; height:65px; text-indent:-9999px;}
        #cboxNext:hover{background-position:bottom right;}
        #cboxClose{position:absolute; top:5px; right:5px; display:block; background:url(images/controls.png) no-repeat top center; width:38px; height:19px; text-indent:-9999px;}
        #cboxClose:hover{background-position:bottom center;}
.min-height100{
	min-height:100vh;}
.small-btn {
    border-radius: 2px;
    width: auto !important;
    padding: 5px;
    font-size: inherit !important;
}
.input-textarea {
    min-height: 150px;
}
.back-png {
    margin-right: 10px;
}
.item-png {
    width: 120px;
}
.item-name-p {
    font-weight: 800;
}
.checkbox-input {
    position: relative !important;
    width: 15px !important;
    height: 15px !important;
    border: 1px solid grey !important;
    left: inherit !important;
    visibility: visible !important;
}
::-moz-selection { /* Code for Firefox */
  color: white !important;
  background: #157bc0 !important;
}

::selection {
  color: white !important;
  background: #157bc0 !important;
}
.croppie-container {
    height: auto !important;
}
.no-input {
    text-align: left;
    font-weight: 700;
    margin-top: 5px;
}
.star-bg{
	background-image:url(../img/starry-sky.jpg);
	background-size:cover;	
}
.small-note{
margin-bottom: 0;
margin-top: 15px;}
.ow-bid{
	cursor:pointer;
	background: rgb(197,243,255);
	background: radial-gradient(circle, rgba(197,243,255,0.10127801120448177) 0%, rgba(197,243,255,1) 100%);
	animation-name: lucky1;
	animation-duration:1.8s;
	animation-iteration-count: infinite;
}
.ow-bid:hover{
	background: rgb(163,236,255);
	background: radial-gradient(circle, rgba(163,236,255,0.10407913165266103) 0%, rgba(163,236,255,1) 100%);
	box-shadow: 0px 0px 20px 0px #c5f3ff;
}
.ow-bid2{
	animation-delay:0.2s;
}
.ow-bid3{
	animation-delay:0.4s;	
}
.ow-bid4{
	animation-delay:0.6s;	
}
.ow-bid5{
	animation-delay:0.8s;	
}
.ow-bid6{
	animation-delay:1.0s;	
}
.ow-bid7{
	animation-delay:1.2s;	
}
.ow-bid8{
	animation-delay:1.4s;	
}
.ow-bid9{
	animation-delay:1.6s;	
}

.checkbox-budget:checked + label{
	background-color: rgba(73,216,253,1) !important;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
}
/*
.checkbox-budget:not(:checked) + label{
	background-color: #a2d9f2;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
	background-color: #0e7cc8;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	background-color: #0e7cc8;
}
*/

@keyframes lucky1 {
  0% {
    background: radial-gradient(circle, rgba(197,243,255,0.10127801120448177) 0%, rgba(197,243,255,1) 100%);
  }
  11.11% {
    background: radial-gradient(circle, rgba(73,216,253,0.10407913165266103) 0%, rgba(73,216,253,1) 100%);
	box-shadow: 0px 0px 20px 0px #c5f3ff;
  }
  22.22% {
    background: radial-gradient(circle, rgba(197,243,255,0.10127801120448177) 0%, rgba(197,243,255,1) 100%);
  }	

}

/*overwrite	
	
	
	
	
  from {background: radial-gradient(circle, rgba(197,243,255,0.10127801120448177) 0%, rgba(197,243,255,1) 100%);}
  to {background: radial-gradient(circle, rgba(163,236,255,0.10407913165266103) 0%, rgba(163,236,255,1) 100%);}*/
.win-modal-div {
    display: block;
    margin: 0;
    width: 100%;
    height: 100vh;
	text-align: center;
}
.win-modal-css {
    width: 80% !important;
    height: 80vh !important;
    margin: 0 !important;
    border-radius: 0 !important;
    text-align: center;
    overflow: auto;
    margin-top: 10vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
	background-image:url(../img/purple-bg.jpg);
	background-position:center;
	background-size:cover;
}
.congrats {
    width: 400px;
}
.win-p{
text-align: center;}
.repeate-3-div {
    float: left;
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.ow-transparent-btn{
background-color: transparent !important;
background: #FFFFFF00 !important;
transition: .15s ease-in-out;}
.ow-transparent-btn:hover{
transition: .15s ease-in-out;
color:#157bc0 ;
}
.margin-top-login{
	margin-top:34px !important;
}
.margin-bottom50{
margin-bottom: 50px;}
.margin-top20{
	margin-top:20px;}
.margin-top50{
	margin-top:50px;}
.margin-bottom20{
	margin-bottom:20px;}
.margin-right10{
	margin-right:10px;}
.ow-black-text{
	color:black !important;}
.ow-width100{
width: 100% !important;}
@media all and (max-width: 1500px){
.ps-p {
    min-height: 57px;
}	
	
}
@media all and (max-width: 1400px){	
.white-banner-title {
    margin-top: 20px;
}
.data-content {
    width: 100%;}
.package-title {
    min-height: 46px;
}
}
@media all and (max-width: 1300px){	
.bid-item-title {
    min-height: 44px;
}
.notice-modal-content {
    width: 70%;
}
.five-div-title {
    font-size: 14px;
}

}
@media all and (max-width: 1200px){	
.contact-modal-content {
    width: 70%;
}

.data-h1{
	font-size: 24px;
	padding-top: 25px;
    padding-bottom: 25px;	
}
.data-p{
	font-size: 15.5px;	
}		
}
@media all and (max-width: 1100px){	
.white-banner-title {
    margin-top: 20px;
}
.left-banner-content {
    width: 65%;
}
.right-coin-content {
    width: 35%;
    padding-left: 30px;
}
.rank-profile {
    width: 60%;}
.profile-pic {
    padding: 3px;}
.five-div-title {
	min-height:36px;
}
.middle-checkbox {
    margin-left: 2% !important;
    margin-right: 2% !important;
}
}
@media all and (max-width: 1050px){
.middle-icon {
    width: 60px;
}
.package-title {
    min-height: 38px;
    font-size: 16px;
}
.credit-p {
    font-size: 25px;}
.ps-p {
    font-size: 14px;}
}
@media all and (max-width: 1000px){
.middle-width {
    width: 80%;}
.admin-header .menu-item{
	display:none;	
}
.admin-header .dl-menuwrapper {
    display: block;
}
}
@media all and (max-width: 900px){	
.signup-modal-content {
    width: 95%;
}
.package-title {
    font-size: 14px;
}

}
@media all and (max-width: 800px){	
.white-banner-title {
    font-size: 48px;}
.fake-blue-button {
    width: 300px;
    font-size: 18px;}
.rank-profile {
    width: 80%;}
.rank-name {
    font-weight: 700;
    font-size: 16px;}
.rank-credit {
    font-size: 14px;
    font-weight: 300;
}
.title-h1 {
    font-size: 27px;
}
.month-text {
    font-size: 18px;
}
.table-css {
    font-size: 13px;
}
.content-title {
    font-size: 16px;
}
.content-text {
    font-size: 14px;}
.blue-button{
	    width: 150px;
		font-size:16px;
}
.title-icon {
    width: 50px;
}
.shipping-icon {
    height: 30px;}
.contact-modal-content {
    width: 90%;
}
.data-h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}
.data-p {
    margin-top: 30px;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
}
.data-p2{
	font-size: 15px;
    line-height: 24px;}
.data-li {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 5px;
}
.data-content {
    padding: 40px 50px;}
.notice-modal-content {
    width: 85%;
}
.menu-h1 {
    font-size: 27px;
}
.update-profile-second-div {
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
}
.package-title {
    font-size: 12px;
	min-height:30px;
}
.ps-p {
    min-height: 72px;
}
}
@media all and (max-width: 700px){
.credit-p {
    font-size: 20px;
}
.middle-icon {
    width: 45px;
}
.ps-p {
    font-size: 13px;
}
.dash-img {
    width: 50px;
}
.repeate-3-div {
	width: 50%;}
}
@media all and (max-width: 670px){
.package-title {
    min-height: 45px;
}
.ps-p {
    min-height: 80px;
}
}
@media all and (max-width: 650px){
.white-banner-title {
    font-size: 38px;
}
.fake-blue-button {
    width: 235px;
    font-size: 16px;
    padding: 10px 0;
}
.left-banner-content {
    width: 60%;
}
.right-coin-content {
    width: 40%;}
.menu-item{
	display:none;}
.before-dl{
	display:inline-block;}
.five-div {
    width: 31%;
	margin-left:0;
	margin-right:0;
}
.third-mid-box{
	margin-left:3.5%;
	margin-right:3.5%;}
}
@media all and (max-width: 600px){	
.title-icon {
    width: 65px;
}
.three-div {
    width: 100%;
    float: none;
	margin-left:0;
	margin-right:0;
}
.bid-item-title {
    min-height: 0;
}
.three-div {
    margin-bottom: 35px;
}
.phone-icon{
	width: 35px !important;
}
.shipping-icon {
    height: 20px;
    margin-right: 10px;
}
.middle-width {
    width: 100%;}
.data-top-left-border{
	margin-left:5%;}	
.data-bottom-right-border{
	right: 5%;
	}
.data-content {
	padding: 20px 30px;
	text-align: justify;}
.data-h1{
	font-size: 24px;
	text-align:left;}
.data-title{
	text-align:left;}
.bidding-repeat-div {
    width: 48.7%;}
.ow-index-bid .bidding-repeat-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.ow-index-bid{
	width:100% !important;}
.cr-boundary {
    width: 300px !important;
    height: 300px !important;
}
.cr-viewport {
    width: 250px !important;
    height: 250px !important;
}
.middle-icon {
    width: 85px;
}
.package-title {
    min-height: 0;
    font-size: 18px;
}
.credit-p {
    font-size: 27px;
}
.ps-p {
	min-height: 0;
    font-size: 14px;
}
.extra-div {
    overflow: hidden;
    margin-top: 0;
    padding-bottom: 30px;
}
.small-table{
	    font-size: 11px !important;}
.mob-padding {
    padding: 0 7.5%;
}
.congrats {
    width: 80%;
}
}
@media all and (max-width: 500px){	

.white-banner-title {
    font-size: 27px;
}
.fake-blue-button {
    width: 170px;
    font-size: 12px;}
.rank-name {
    font-size: 14px;
}
.rank-credit {
    font-size: 13px;}
.table-css {
    font-size: 12px;
}
.crown {
    width: 15px;
}
.title-h1 {
    font-size: 21px;
}
.month-text {
    font-size: 14px;
}
.opt-msg {
    font-size: 14px;
}
.dual-input {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
}
.data-p{
	font-size: 14px;	
}
.data-h1 {
    font-size: 21px;}
.back-png {
    height: 15px;
}	
.mob-pass-margin{
	margin-bottom: 34px;
}
.footer-p {
    font-size: 12px;
    padding-top: 3px;
}	
.force-center p{
	text-align: center !important;}
}
@media all and (max-width: 450px){
.web-shipping {
    display: none;
}
.mobile-shipping {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.data-top-left-border, .data-bottom-right-border{
	display:none;}
.data-content {
	height: 75vh;
    padding: 20px 30px;

}
@media all and (max-width: 400px){
.blue-button {
    width: 100%;}	
.data-p {
    font-size: 13.5px;
}
.data-h1 {
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 15px;}	
.bidding-repeat-div {
    width: 100%;
	margin-left:0;
	margin-right:0;
	margin-bottom: 30px;}
.cr-boundary {
    width: 250px !important;
    height: 250px !important;
}
.cr-viewport {
    width: 200px !important;
    height: 200px !important;
}
.checkbox-budget:checked + label span, .checkbox-budget:not(:checked) + label span {
    font-size: 18px;
}
.for-checkbox-budget {
    margin-bottom: 10px !important;
}
.middle-checkbox {
    margin-left: 1% !important;
    margin-right: 1% !important;
}
.small-table, .small-table th, .small-table td{
	    font-size: 10px !important;}	
.repeate-3-div {
    width: 100%;
	}
@media all and (max-width: 360px){	
.five-div {
    margin-bottom: 20px;
    width: 48%;
    margin-left: 0;
    margin-right: 0;
}
.second-five-div {
    margin-left: 4%;
}
}
@media all and (max-width: 350px){	
.white-banner-title {
    font-size: 22px;
    margin-top: 0;
}
.fake-blue-button {
    width: 145px;
    font-size: 10px;
}
.checkbox-budget:checked + label span, .checkbox-budget:not(:checked) + label span {
    font-size: 15px;
}
	.small-table, .small-table th, .small-table td{
	    font-size: 9px !important;}
}
@media all and (max-width: 320px){	
.cr-boundary {
    width: 200px !important;
    height: 200px !important;
}
.cr-viewport {
    width: 150px !important;
    height: 150px !important;
}

}